{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load static %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock head_js %}



{% block content %}
<!--This is used to make a background pattern.-->
<div class="background-carbon-fibre">
    
    <!--This div sets the header image and text you see at the top of the page.-->
    <div class="checkout-header-image animated fadeIn">
        <div class="container">
            <h1 class="header-container-text"> | PAYMENT PAGE | </h1>
        </div>
    </div>
    
    <!--This is the box shadow effect that shows at the bottom of the header image.-->
    <div class="header-box-shadow">
    
    <!--This container holds the forms for the payment details.-->
    <div class="container">
        
        <!--This panel shows some information for the order.-->
        <div class="panel panel-group order-panel-container text-center">
                    
            <div class="panel panel-primary">
                
                <div class="panel-heading"> Service Details </div>
                
                    <div class="panel-body order-panel-body">
        
                    <div class="col-xs-12 order-list-table">
                        
                        <p>Check the order details below and fill out the form. 
                        <br> <br>
                        Click the submit form button and we'll get in touch to arrange a date <br> 
                        for you to drop the vehicle off.</p>
                        
                        <hr class="hr-break">
                        
                        <table class="table table-bordered text-center checkout-table">
                            <tbody>
                                <tr>
                                    <td>Type of Service: </td>
                                    <td>{{ order.service_id.type_of_service }} </td>
                                </tr>
                                <tr>
                                    <td>Vehicle Make: </td>
                                    <td>{{ order.service_id.car_make }} </td>
                                </tr>
                                <tr>
                                    <td>Vehicle Model: </td>
                                    <td>{{ order.service_id.car_model }} </td>
                                </tr>
                                <tr>
                                    <td>Total Price: </td>
                                    <td>£{{ order.service_id.total_price }}</td>
                                </tr>
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
        </div>
            
            
        <!--This container displays both forms; user and payment details.-->
        <div class="row checkout-payment-form">

            <form role="form" method="post" class="" id="payment_form" action="{% url 'payment' order.pk %}">
                
                {% csrf_token %}
    
                <legend>Payment Details</legend>
                
                <div id="credit-card-errors" class="credit-card-errors" style="display:none;">
                    <div class="alert-message block-message error" id="stripe-error-message"></div>
                </div>
                
                <div class="form-group col-xs-12 col-md-6">
                    {{ order_form | as_bootstrap }}
                </div>
                
                <div class="form-group col-xs-12 col-md-6">
                    {{ payment_form | as_bootstrap }}
                </div>
    
                <div class="form-group payment-button col-md-12">
                    <input class="btn btn-wait btn-success" id="submit_payment_btn" name="commit" type=submit value="Submit Payment">
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}