{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block page_title %} About Us {% endblock %}
{% block page_heading %} About Us {% endblock %}
{% block content %}

<!--This is the page for users to submit any queries on a basic form. Uses Gmail to send the email.-->

<div class="contact-us-background-image">

    <div class="container">
        <div class="contact-form">
    
            <h1 class="text-center"> Contact Us </h1>
            
            <hr class="hr-under-heading">
    
            <p class="text-padding-top-bottom text-center">Please fill out the form below
            and we'll try to get back to you as soon as possible.</p>
            
            <hr class="hr-break">
            
            <form method="POST" action="{% url 'contact' %} ">
                {% csrf_token %}
                
                {{ form | as_bootstrap }}
                
                <div class="text-center">
                    <button type="submit" class="btn btn-success contact-button">Send</button>
                </div>
                
            </form>
        </div>
    </div>
</div>
{% endblock %}
