{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}

<!--This div creates the carbon like background pattern.-->
<div class="background-carbon-fibre">
    
    <!--This div creates the header image with overlayed text.-->
    <div class="container orders-header-images animated fadeIn">
        <div class="container">
            <h1 class="orders-header-container-text"> | ORDERS PAGE |</h1>
        </div>
    </div>
    
    <!--This creates the box shadow which appears at the bottom of the header image.-->
    <div class="header-box-shadow">

        <!--
            This div contains the logic and structure to render the query to show whats been ordered, given the user the option to edit the order or to pay.
            Once the user has paid it will show the option to leave feedback for that order. If the user has left feedback the order will no longer show.
        -->
        <div class="container main-content">

        {% if orders %}
            {% for order in orders %}
                        
                <div class="panel panel-group order-panel-container animated flipInX">
                    
                    <div class="panel panel-primary">
                        
                        <!--panel header shows the order id, username of who created the order and if they've paid it'll put PAID at the end.-->
                        <div class="panel-heading"> {{ order.service_id }} | {{ order.username }} |{% if order.paid %} PAID | {% endif %}  </div>
                        
                            <div class="panel-body order-panel-body">
                                
                                <p> Service: {{ order.service_id.type_of_service }} </p>

                                <hr class="hr-break--full">
                               
                                <!--This url disguised as a button once clicked will expand the lower div to show the extra content.-->
                                <a href="#{{ order.service_id }}" onclick="ShowMoreChange(this.id)" class="btn btn-primary pull-left" data-toggle="collapse" id="ShowMoreOrder">Show More</a>
                                
                                <!--This checks whether the user has paid for the order or not and display the correct option.-->
                                {% if not order.paid %}
                                    <a href="{% url 'checkout' order.pk %}" type="submit" class="btn btn-wait btn-success pull-right"><i class="fas fa-shopping-cart" aria-hidden="true"></i> Pay </a>
                                    <p class="pull-right order-total-price ">Price: <strong>{{ order.service_id.total_price }}</strong></p>
                                {% else %}
                                    <a href="{% url 'add_review' order.pk %}" type="submit" class="btn btn-wait btn-info pull-right"><i class="fas fa-book" aria-hidden="true"></i> Leave Review </a>
                                    <p class="pull-right order-total-price">Paid: <strong>{{ order.service_id.total_price }}</strong></p>
                                {% endif %}
                                
                                <!--This div is collapsable from the link above.-->
                                <div id="{{ order.service_id }}" class="collapse row">
                                
                                <div class="col-xs-12 order-list-table">
                                    <!--
                                    This table shows the user what they've ordered and also gives them a chance to confirm before paying.
                                    This checks certain fields whether they were selected or had data entered to whether they are displayed
                                    or not for that order.
                                    -->
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>Wrap Colour: </td>
                                                <td>{{ order.service_id.wrap_colour}} </td>
                                            </tr>
                                            <tr>
                                                <td>Vehicle Make: </td>
                                                <td>{{ order.service_id.car_make}} </td>
                                            </tr>
                                            <tr>
                                                <td>Vehicle Model: </td>
                                                <td>{{ order.service_id.car_model}} </td>
                                            </tr>
                                            
                                            {% for i in order.service_id.optional_service.all %}
                                            <tr>
                                                <td>Optional Services: </td>
                                                <td>{{ i.name }}</td>
                                            {% empty %}
                                            </tr>
                                            {% endfor %}
            
                                            {% for i in order.service_id.damage.all %}
                                            <tr>
                                                <td>Damaged Part: </td>
                                                <td>{{ i.name }}</td>
                                            {% empty %}
                                            </tr>
                                            {% endfor %}
                                            
                                            {% if order.service_id.damage_details|length %}
                                            <tr>
                                                <td>Damage Details: </td>
                                                <td>{{ order.service_id.damage_details }}</td>
                                            </tr>
                                            {% endif %}
                                            
                                            <tr>
                                                <td>Total Price: </td>
                                                <td>£{{ order.service_id.total_price }}</td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                    
                                    <!--This is the delete order button, will cause a prompt if clicked to confirm.-->
                                    <div class="order-delete-container">
                                        <a href="{% url 'delete' order.pk order.username %}" type="submit" class="btn btn-wait btn-warning pull-left confirm-delete" ><i class="fas fa-trash-alt" aria-hidden="true"></i> Delete </a>
                                    </div>
                                    
                                    <!--If the user hasn't paid then this displays the option to edit their order. -->
                                    {% if not order.paid %}
                                        <div class="order-edit-container">
                                            <a href="{% url 'edit' order.pk %}" type="submit" class="btn btn-wait btn-info pull-left"><i class="fas fa-edit" aria-hidden="true"></i> Edit </a>
                                        </div>
                                    {% endif %}
    
                                </div>
                                
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div>
             
             {% endfor %}   
        {% else %}
            
            <!--If no orders are found then it displays a panel with text giving the user a link to create an order.-->
            <div class="col-xs-12 panel-group no-orders-container">
                
                <div class="panel panel-primary text-center order-container">
                    <div class="order-nothing">
                        <p> You have no orders, click <a href="{% url 'quotes' %}" class="black-font"> "here" </a> to create one!</p>
                    </div>
                </div>
                
            </div>
        {% endif %}
        </div>       
        
        <!--This checks to see if there's more than 1 page worth of results (set to 5) to then display the option to view the next 'page'.-->
        <div class="pagination-container">
        {% if orders.has_other_pages %}
            <ul class="pagination">
                
            {% if orders.has_previous %}
                <li><a href="?page={{ orders.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            
            {% for i in orders.paginator.page_range %}
                {% if orders.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            
            {% if orders.has_next %}
                <li><a href="?page={{ orders.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
            </ul>
            
        {% endif %}
        </div>
    </div> 
</div>
{% endblock %}