{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}

<div class="background-order-page">
    <div class="container">
        <div class="row text-center">
        
        <h1 class="header-text-alternative">Orders Page</h1>
        
        <hr class="hr-break">
        
        </div>
        
        {% if orders %}
            {% for order in orders %}
            
            <div class="panel panel-group order-panel-container">
                
                <div class="panel panel-primary">
                    
                    <div class="panel-heading"> {{ order.service_id }} | {{ order.username }} |{% if order.paid %} PAID | {% endif %}  </div>
                    
                    
                        <div class="panel-body order-panel-body">
                            
                            <p> Service: {{ order.service_id.type_of_service }} </p>
                           
                            <hr class="hr-break--full">
                           
                            <a href="#{{ order.service_id }}" class="btn btn-primary pull-left" data-toggle="collapse"> Show More </a>
                            
                            {% if not order.paid %}
                                <a href="{% url 'checkout' order.pk %}" type="submit" class="btn btn-success pull-right"><i class="fas fa-shopping-cart" aria-hidden="true"></i> Pay </a>
                                <p class="pull-right order-total-price ">Price: <strong>{{ order.service_id.total_price }}</strong></p>
                            {% else %}
                                <a href="{% url 'add_review' order.pk %}" type="submit" class="btn btn-info pull-right"><i class="fas fa-book" aria-hidden="true"></i> Leave Review </a>
                                <p class="pull-right order-total-price">Paid: <strong>{{ order.service_id.total_price }}</strong></p>
                            {% endif %}
                            
                            <div id="{{ order.service_id }}" class="collapse row">
                            
                            <div class="col-xs-12 order-list-table">
                                
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>Wrap Colour: </td>
                                            <td>{{ order.service_id.wrap_colour}} </td>
                                        </tr>
                                        <tr>
                                            <td>Vehicle Make: </td>
                                            <td>{{ order.service_id.car_make}} </td>
                                        </tr>
                                        <tr>
                                            <td>Vehicle Model: </td>
                                            <td>{{ order.service_id.car_model}} </td>
                                        </tr>
                                        
                                        {% for i in order.service_id.optional_service.all %}
                                        <tr>
                                            <td>Optional Services: </td>
                                            <td>{{ i.name }}</td>
                                        {% empty %}
                                        </tr>
                                        {% endfor %}
        
                                        {% for i in order.service_id.damage.all %}
                                        <tr>
                                            <td>Damaged Part: </td>
                                            <td>{{ i.name }}</td>
                                        {% empty %}
                                        </tr>
                                        {% endfor %}
                                        
                                        {% if order.service_id.damage_details|length %}
                                        <tr>
                                            <td>Damage Details: </td>
                                            <td>{{ order.service_id.damage_details }}</td>
                                        </tr>
                                        {% endif %}
                                        
                                        <tr>
                                            <td>Total Price: </td>
                                            <td>£{{ order.service_id.total_price }}</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                                
                                <div class="order-delete-container">
                                    <a href="{% url 'delete' order.pk order.username %}" type="submit" class="btn btn-warning pull-left confirm-delete" ><i class="fas fa-trash-alt" aria-hidden="true"></i> Delete </a>
                                </div>
                                
                                {% if not order.paid %}
                                    <div class="order-edit-container">
                                        <a href="{% url 'edit' order.pk %}" type="submit" class="btn btn-info pull-left"><i class="fas fa-edit" aria-hidden="true"></i> Edit </a>
                                    </div>
                                {% endif %}

                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
         
            {% endfor %}
            
        {% else %}
        
            <div class="col-xs-12  panel-group">
                
                <div class="panel panel-primary text-center order-container">
                    <div class="order-nothing">
                        <p> You have no orders, click <a href="{% url 'quotes' %}" class="black-font"> "here" </a> to create one!</p>
                    </div>
                </div>
                
            </div>
            
        {% endif %}
        
    </div>       
        
    <div class="pagination-container">
    <!--This checks if there's more than 1 page worth of results  -->
    {% if orders.has_other_pages %}
    
        <ul class="pagination">
        {% if orders.has_previous %}
          <li><a href="?page={{ orders.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        
        {% for i in orders.paginator.page_range %}
          {% if orders.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        
        {% if orders.has_next %}
          <li><a href="?page={{ orders.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
        </ul>
        
    {% endif %}
    </div>
</div>
{% endblock %}