{"filter":false,"title":"requirements-old.txt","tooltip":"/requirements-old.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":960,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":63,"state":"start","mode":"ace/mode/text"}},"timestamp":1572442185012,"hash":"a6b76da8a36392bcb7be6b70ae9e3b58f0c4e168"}