{% extends "base-login.html" %}
{% block title %}Reset Password{% endblock %}
{% load bootstrap_tags %}
{% block content %}

<!--Container for the password reset form, only one field which is the email address.-->
<div class="container">
        <div class="reset-form animated pulse">

            <p class="text-padding-top-bottom text-center">Please enter your email address and an email will be sent to you in a few
            minutes.</p>
            
            <hr class="hr-break">
            
            <form method="post">
                {% csrf_token %}
                
                {{ form | as_bootstrap }}
                
                <input type="submit" class="btn btn-wait btn-primary form-button" value="Reset password" />
            </form>
            
        </div>
    </div>

{% endblock %}