{% extends "base-login.html" %}
{% block title %}Password Reset Successful{% endblock %}

{% block content %}
<!--Container for the message to let user know an email is en route.-->
<div class="container">
    <div class="reset-form">
    
        <p>We've e-mailed you instructions for setting your password to the e-mail address you submitted.</p>
        <p>You should be receiving it shortly.</p>
        
        <hr class="hr-break">
        <!--Email image-->
        <img src="{{ MEDIA_URL }}other/email-image.png" class="img-responsive email-image" alt="Email Image">
    </div>
</div>


{% endblock %}