{% extends "base-login.html" %}
{% block title %}Password Reset Complete{% endblock %}

{% block content %}
<div class="container">
    <div class="reset-form">
        <p>Your password has been set. Click the link below to login.</p>
        
        <img src="{{ MEDIA_URL }}other/green-tick.png" class="img-responsive green-tick-image" alt="Email Image">

        <a href="{{ login_url }}" type="submit" class="btn btn-primary form-button">Log in</a>
        
        
    </div>
</div>

{% endblock %}