{% extends 'base.html' %}

{% block page_title %} About Us {% endblock %}

{% block page_heading %} About Us {% endblock %}

{% block content %}

{% load static %}

<div class="container">
    <div class="row text-center">
        <h1>Quotes Page</h1>
        <p>If you can enter the details below and submit the form. <br>
        It will then be added to your ORDERS page to finalise the order.</p>
    </div>
    
    <div class="row">
        
        <div class="quotes-form">
            
            <form method="POST">
                
                {% csrf_token %}
                
                <div class="form-group TypeOfService">
                    <label for="type-of-service">{{ form.type_of_service.label }}</label>
                    
                    <select class="form-control" id="type-of-service">
                        {% for s in serviceType %} 
                            <option value="{{ s.id }}" id="{{ s.id }}"> {{ s.name }}</option>
                        {% endfor %}
                    </select>
                    
                    <div id="service-image" class="service-image">
                        <img class='img-responsive' src="/media/quotes/Large_veh.jpg" alt="Image">
                    </div>
                </div>
                
                <div class="form-group OptionalService">
                    <label for="optional-service">{{ form.optional_service.label }}</label>
                    {% for i in optionalService %}
                        <input class="" type="checkbox" value="{{ i.id }}">{{ i.name }}
                    {% endfor %}                
                </div>
              
            </form>
            
        </div>
    </div>
</div>


{% endblock %}