{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block page_title %} About Us {% endblock %}
{% block page_heading %} About Us {% endblock %}
{% block content %}
{% load static %}

<!--This is used to make a background pattern.-->
<div class="background-carbon-fibre">
    
    <!--This div sets the header image and text you see at the top of the page.-->
    <div class="quotes-header-image">
        <div class="container">
            <h1 class="header-container-text"> | QUOTES PAGE | </h1>
        </div>
    </div>
    
    <!--This is the box shadow effect that shows at the bottom of the header image.-->
    <div class="header-box-shadow">
    
    <!--This page is used to create a new quote.-->
    <div class="container">

        <div class="quotes-form">
            
            <form method="POST">
                
                {% csrf_token %}
                
                <!--
                This container is for the type of service chosen, it iterates through and then adds the type of service options into a list.
                -->
                <div class="form-group TypeOfService">
                    
                    <br><p>If you enter the required details below and submit the form. 
                    <br>It will then be added to your <a href="{% url 'orders' %}" class="black-font">Orders</a> page to finalise the order.</p>
                    
                    <hr class="hr-break">
                    
                    <label for="type-of-service"> Service Type</label>
                    
                    <!--Iterating through the options and displaying them.-->
                    <select class="form-control type-of-service" name="tos-option" id="type-of-service">
                        <option value="0" disabled selected> Choose an option! </option>
                        {% for i in serviceType %} 
                            <option class="type-of-service-option" value="{{ i.id }}" id="{{ i.id }}" data-price="{{ i.price }}"> {{ i.name }} --- £{{i.price}}</option>
                        {% endfor %}
                    </select>
                    
                    <!--This is a dynamically rendered image via jQuery, loads the option choosen by the user first.-->
                    <div id="service-image" class="service-image">
                        <img class='img-responsive' src="" alt="">
                    </div>

                </div>
                
                <!--
                This container is for the wrap colour choice, it displays a table using the options from the wrap colour model.
                -->
                <div id="wrap-colour-container">
                    <hr>
                
                    <div class="WrapColour">
                
                        <label> Wrap Colour </label>
                        
                        <!--This shows the selection of colours available for the user to choose from-->
                        <div class="quote-table-container">
                            <table class="table table-responsive table-bordered" id="quotes-table">
                                <tbody>
                                    <!--Iterates through the options and sets the text and image as two seperate columns.-->
                                    {% for i in wrapColour %}
                                    <tr>
                                        <td>
                                            <div class="quote-radio">
                                                <label><input type="radio" id='{{ i.id }}' name="wc-option" value="{{ i.id }}"> {{ i.name }} </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="radiotext">
                                                <label for='{{i.id}}'><img src="{{i.image.url}}" class="quote-table-image"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
                <!--
                This container is for the make and model input fields. Make is done by a list populated in the models whereas the model is populated depending on
                which make has been chosen. This is done via ajax using an API.
                -->
                <div id="make-model-container">
                    <hr>
                    
                    <div class="form-group Make-Model">

                            {{ form | as_bootstrap }}
                            
                            <label for="car_model"> Car Model</label>
                            
                            <!--This has size = 3 to limit how much is displayed on the screen at once.-->
                            <select class="form-control car_model" name="car_model" id="car_model" size="3">
                                <option value="none" disabled selected> Choose an option! </option>
                            </select>

                    </div>
                </div>
                
                <!--
                This container is for the optional services.
                -->
                <div id="optional-service-container">
                    <hr>
                    
                    <div class="form-group OptionalService">
                        
                        <label for="optional-service"> Optional Services </label>
                        
                        <br>
                        
                        <!--This link enables for the below div to be hidden or shown on the users request, the text changes depending on current state.--> 
                        <a href="#OptionalServiceID" onclick="ShowMoreChange(this.id)" class="btn btn-primary" data-toggle="collapse" id="ShowMoreOptional">More Options</a>
                        
                        <div id="OptionalServiceID" class="collapse">
                            
                            <hr class="hr-break">
                            
                            <p> Do you need your old wrap removed and the door shuts wrapped? <br>
                            (Door shuts is the bits inside when you open the doors or boot)</p>
                            
                            <!--
                            This iterates through all the current optional services in the database and displays them as a checkbox.
                            -->
                            {% for i in optionalService %}
                                
                                <div class="form-group checkboxes">
                                    <input type="checkbox" class="optional-services" name="OS" id="{{ i.name }}" autocomplete="off" value="{{ i.id }}" data-price="{{ i.price }}" />
                                    <div class="btn-group">
                                        <label for="{{ i.name }}" class="btn btn-primary">
                                            <span class="glyphicon glyphicon-ok"></span>
                                            <span> </span>
                                        </label>
                                        <label for="{{ i.name }}" class="btn btn-default active optional-services-label">
                                            {{ i.name }}
                                        </label>
                                    </div>
                                </div>
                                
                            {% endfor %}  
                        </div> 
                        
                    </div>
                </div>
                
                 <!--
                This container is for any damages.
                -->
                <div id="damage-container">
                    <hr>
                    
                    <div class="form-group Damage">
                        <label for="damage"> Vehicle Damage </label>
                         
                        <br>
                        
                        <!--This link enables for the below div to be hidden or shown on the users request, the text changes depending on current state.-->
                        <a href="#DamageID" onclick="ShowMoreChange(this.id)" class="btn btn-primary" data-toggle="collapse" id="ShowMoreDamage">More Options</a>
                            
                        <div id="DamageID" class="collapse">
                            
                            <hr class="hr-break">
                            
                            <p> Do you currently have damage to any panels on your vehicle? <br>
                            if you can let us know which panels have damage and we can amend the quote as needed.</p>
                            
                            <!--
                            This iterates through the damage list from the model to display, this is a multiple selected dropdown.
                            -->
                            <select class="selectpicker" name="TD" data-style="btn-primary" id="damage-dropdown" multiple title="No Damage">
                                {% for i in damage %}
                                    <option data-price="{{ i.price }}" value="{{ i.id }}"> {{ i.name }} </option>
                                {% endfor %}   
                            </select>
                            
                            <!--This is the damage details box for the user to write in some details-->
                            <div class="form-group text-padding">
                                <label for="damageDetailsInput">Damage Details</label>
                                <textarea class="form-control" id="damageDetailsInput" name="ddInput" rows="3"></textarea>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
                <!--
                This container is for the total price which is updated when an option is selected and the update form button.
                -->
                <div id="price-container">
                    
                    <hr>
                    
                    <div class="form-group Price">
                        
                        <label>Total Price</label>
                        
                        <div class="text-center input-group">
    
                            <span class="input-group-btn total-price">
                                <label class="btn btn-default btn-lg ">£</label>
                            </span>
                             
                            <!--This is updated via jQuery depending on what options have been chosen/selected-->
                            <input type="text" class="total-price form-control input-lg" id="total-price" name="tp-name" data-price="0" readonly> 
                        </div> 
                        
                        <hr class="hr-break">
                        
                        <button class="btn btn-success">Submit Order</button>
                  
                    </div>
                </div>
                
            </form>
            
        </div>
    </div>
    </div>
</div>

{% endblock %}