/* ---------------------------------------------------------- Variables */
/* ---------------------------------------------------------- Body */
body {
  font-family: "Montserrat";
  font-size: 13pt;
  padding-top: 50px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

html {
  height: 100%;
}

a:link, a:visited {
  color: #ffffff;
}

.login-bg {
  background: url(/static/img/login-bg.jpg) center no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  background-size: cover;
}

/* ---------------------------------------------------------- Headers */
.header-container-text, .about-header-container-text {
  color: #ffffff;
  margin-top: 250px;
}

.header-text {
  color: #000;
  padding-top: 30px;
  font-weight: bold;
  font-size: 45px;
}

.header-container-text {
  font-weight: bold;
  font-size: 46px;
}

.about-header-container-text {
  font-weight: bold;
  font-size: 55px;
  margin-top: 235px;
}

/* ---------------------------------------------------------- Main */
.main-content {
  margin-bottom: 40px;
}

.brand-banner {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #000;
}
.brand-banner img {
  margin-left: auto;
  margin-right: auto;
}

.form-button {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.services-text-header {
  color: #4bb7ff;
  padding-top: 25px;
}

.header-sub-text {
  color: #000;
}

.services-subtext {
  color: #666;
}

.imagetiles {
  margin: 0px;
  padding-top: 80px;
}
.imagetiles .img-mainpage-size {
  height: auto;
  object-fit: fill;
  width: 550px;
  margin: auto;
  padding-bottom: 10px;
}

.servicetiles {
  padding-top: 0px;
  margin: 0px;
}

.text-padding {
  padding-top: 16px;
}

.text-padding-top-bottom {
  padding-top: 16px;
  padding-bottom: 16px;
}

.hr-break {
  width: 50%;
  height: 2px;
  background-color: #4bb7ff;
}

.hr-under-heading {
  width: 35px;
  height: 2px;
  margin-top: 0px;
  background-color: #4bb7ff;
}

.login-form, .register-form {
  margin-top: 70px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 50px;
  text-align: center;
  background-color: #f4f3e9;
  border-radius: 10px;
}
.login-form a, .register-form a {
  color: #000;
}

.profile-form, .contact-form {
  margin-top: 70px;
  margin-bottom: 70px;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 50px;
  text-align: center;
  background-color: #f4f3e9;
  border-radius: 10px;
}
.profile-form a, .contact-form a {
  color: #000;
}

.quotes-form {
  margin-top: 50px;
  margin-bottom: 70px;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 25px;
  text-align: center;
  background-color: #bbf7df;
  border-radius: 10px;
}
.quotes-form a {
  color: #ffffff;
}

/* ---------------------------------------------------------- Footer */
footer {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 12pt;
  color: #ffffff;
  background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
}

ul {
  list-style: none;
}

.fas-icons {
  padding-right: 5px;
}

.footertiles-divs {
  padding-top: 15px;
}

/* ---------------------------------------------------------- Other */
.alert {
  margin-bottom: 0px;
}

.messages {
  text-align: center;
}

.font-bold {
  font-weight: bold;
}

.icon-bar {
  background-color: #fff;
}

.accountform {
  padding-top: 20px;
}

.header-image {
  background: url(https://images.unsplash.com/photo-1504215680853-026ed2a45def?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80) center no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  background-size: cover;
  height: 750px;
  overflow: hidden;
  position: relative;
}

.about-header-image {
  background: url(/static/img/about-header-image.png) center no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
  background-size: cover;
  height: 550px;
  overflow: hidden;
  position: relative;
}

.service-image {
  margin-top: 25px;
}

.optional-services-label {
  width: 200px;
}

.OptionalService, .TypeOfService, .Damage, .Make-Model, .Price {
  background-color: white;
  border: black solid 2px;
  border-radius: 5px;
  padding: 10px;
}
.OptionalService a, .TypeOfService a, .Damage a, .Make-Model a, .Price a {
  margin: 5px;
}

.form-group input[type=checkbox] {
  display: none;
}

.form-group input[type=checkbox] + .btn-group > label span {
  width: 20px;
}

.form-group input[type=checkbox] + .btn-group > label span:first-child {
  display: none;
}

.form-group input[type=checkbox] + .btn-group > label span:last-child {
  display: inline-block;
}

.form-group input[type=checkbox]:checked + .btn-group > label span:first-child {
  display: inline-block;
}

.form-group input[type=checkbox]:checked + .btn-group > label span:last-child {
  display: none;
}

/* ---------------------------------------------------------- Media Queries */
@media only screen and (min-width: 991px) {
  .imagetiles {
    margin: 0px;
    padding-top: 80px;
  }
  .imagetiles .img-mainpage-size {
    height: 200px;
    object-fit: fill;
  }

  .servicetiles {
    padding-top: 0px;
  }

  .login-form {
    margin-top: 200px;
    margin-left: 20%;
    margin-right: 20%;
  }

  .register-form {
    margin-top: 145px;
    margin-left: 20%;
    margin-right: 20%;
  }

  .form-button {
    width: 60%;
  }

  .service-image {
    max-width: 600px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
  }
}

/*# sourceMappingURL=custom.css.map */
