/* ---------------------------------------------------------- Variables */
/* ---------------------------------------------------------- Body */
body {
  font-family: "Montserrat";
  font-size: 13pt;
  padding-top: 50px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

html {
  height: 100%;
}

a:link, a:visited {
  color: #ffffff;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand > img {
  height: 100%;
  padding: 7px;
  width: auto;
}

.navbar-default .navbar-nav > li > a {
  transition: box-shadow 0.5s;
  -webkit-transition: box-shadow 0.5s;
  transition-timing-function: ease-in-out;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  border-bottom: solid 3px #fff;
  margin-bottom: -3px;
}

.btn {
  transition: box-shadow 0.2s;
  -webkit-transition: box-shadow 0.2s;
  transition-timing-function: ease-in-out;
}

.btn:hover,
.btn:focus {
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
}

/* ---------------------------------------------------------- Headers */
.header-container-text, .about-header-container-text {
  color: #ffffff;
  margin-top: 250px;
}

.gallery-header-container-text, .orders-header-container-text, .profile-header-container-text,
.header-container-text {
  color: #ffffff;
  margin-top: 150px;
  font-weight: bold;
  font-size: 55px;
}

.header-text {
  color: #000;
  padding-top: 30px;
  font-weight: bold;
  font-size: 45px;
}

.header-text-alternative {
  color: #ffffff;
}

.about-header-container-text {
  font-weight: bold;
  font-size: 55px;
  margin-top: 235px;
}

/* ---------------------------------------------------------- Main */
.gallery-main-content, .main-content {
  margin-bottom: 40px;
}

.header-box-shadow {
  box-shadow: 0px -4px 5px 1px rgba(0, 0, 0, 0.3);
}

.pagination-container {
  text-align: center;
}

.brand-banner {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #000;
}
.brand-banner img {
  margin-left: auto;
  margin-right: auto;
}

.profile-image {
  width: 250px !important;
  border: 1px gray solid;
  border-radius: 7px;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  display: block !important;
}

.email-image {
  width: 150px !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  display: block !important;
}

.green-tick-image {
  width: 150px !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  display: block !important;
}

.testimonial-image {
  width: 400px;
  border: 1px gray solid;
  border-radius: 7px;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block !important;
}

.payment-button {
  text-align: center;
}

.form-button {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.profile-button, .contact-button {
  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.services-text-header {
  color: #4bb7ff;
  padding-top: 25px;
}

.header-sub-text {
  color: #000;
}

.services-subtext {
  color: #666;
}

.imagetiles {
  margin: 0px;
  padding-top: 80px;
}
.imagetiles .img-mainpage-size {
  height: auto;
  object-fit: fill;
  width: 550px;
  margin: auto;
  padding-bottom: 10px;
}

.servicetiles {
  padding-top: 0px;
  margin: 0px;
}

.text-padding {
  padding-top: 16px;
}

.text-padding-top-bottom {
  padding-top: 16px;
  padding-bottom: 16px;
}

.hr-break {
  width: 50%;
  height: 2px;
  border: 0px;
  background-color: #4bb7ff;
}

.hr-break--full {
  width: 100%;
  height: 2px;
  border: 0px;
  background-color: #4bb7ff;
}

.hr-under-heading {
  width: 35px;
  height: 2px;
  border: 0px;
  margin-top: 0px;
  background-color: #4bb7ff;
}

.login-form, .register-form, .reset-form {
  margin-top: 70px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 50px;
  text-align: center;
  background-color: #f4f3e9;
  border-radius: 10px;
}
.login-form a, .register-form a, .reset-form a {
  color: #000;
}

.checkout-payment-form {
  margin-left: 0px;
  margin-right: 0px;
}

.profile-form, .contact-form, .checkout-payment-table, .checkout-payment-form, .add-review-form, .review-more-container {
  margin-top: 70px;
  margin-bottom: 70px;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 50px;
  background-color: #fff;
  border-radius: 10px;
}
.profile-form a, .contact-form a, .checkout-payment-table a, .checkout-payment-form a, .add-review-form a, .review-more-container a {
  color: #000;
}

.quotes-form {
  margin-top: 50px;
  margin-bottom: 70px;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 25px;
  text-align: center;
  background-image: linear-gradient(#8ad4ff, #2da1e3 60%, #8bd2fb);
  border-radius: 10px;
}
.quotes-form a {
  color: #ffffff;
}

#id_image {
  padding: 0px;
}

.order-sort-container {
  margin-top: 20px;
}
.order-sort-container .btn-sort-by {
  width: 100%;
}

.main-container-top {
  background-color: #fff;
  text-align: left;
  border: solid 1px;
  border-radius: 10px;
  margin: -35px;
  margin-bottom: 30px;
  padding-bottom: 15px;
  box-shadow: 2px 1px 5px 2px rgba(0, 0, 0, 0.3);
}

.main-container-bottom {
  background-color: #fff;
  text-align: center;
  border: solid 1px;
  border-radius: 10px;
  padding-bottom: 15px;
  margin-top: 30px;
  box-shadow: 2px 1px 5px 2px rgba(0, 0, 0, 0.3);
}

/* ---------------------------------------------------------- Background Images */
.login-bg {
  background: url(/img/login-bg.jpg) center no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  background-size: cover;
}

.header-image {
  background: url(/img/header-image.jpg) center no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  background-size: cover;
  height: 750px;
  overflow: hidden;
  position: relative;
}

.about-header-image {
  background: url(/img/about-header-image.png) center no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
  background-size: cover;
  height: 550px;
  overflow: hidden;
  position: relative;
}

.edit-quote-header-image {
  background: url(/img/amend-quote-header-image.jpg) center no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.quotes-header-image {
  background: url(/img/quotes-header-image.jpg) center no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-us-header-image {
  background: url(/img/contact-us-image.jpg) center no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.orders-header-images {
  background: url(/img/orders-bg-image.jpg) center no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
  height: 350px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-header-image {
  background: url(/img/profile-header-image.jpg) center no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery-header-image {
  background: url(/img/gallery-header-background.jpg) center no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.add-review-header-image {
  background: url(/img/add-page-header-image.jpg) center no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.checkout-header-image {
  background: url(/img/payment-header-image.jpg) center no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-background-image {
  background: url(/img/profile-background-image.jpg) center no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  background-size: cover;
}

.background-carbon-fibre {
  background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;
  height: 100%;
}

/* ---------------------------------------------------------- Footer */
footer {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 12pt;
  color: #ffffff;
  background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.3);
}

ul {
  list-style: none;
}

.fas-icons {
  padding-right: 5px;
}

.footertiles-divs {
  padding-top: 15px;
}

/* ---------------------------------------------------------- Tables */
.previous-quote-table-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.blue-cell-white-text {
  background: #4bb7ff;
  color: #ffffff;
}

.quote-table-image {
  max-width: 30px;
  max-height: 30px;
  border: 2px solid #fff;
  padding: 1px;
  border-radius: 5px;
}

.order-list-table > table {
  border-collapse: collapse;
  table-layout: auto;
  margin-top: 15px;
}
.order-list-table > table td {
  width: 50%;
}

.checkout-table {
  font-weight: bold;
}

/* ---------------------------------------------------------- Other */
.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.gallery-text {
  height: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
}

.review-avatar {
  border-radius: 20px;
  margin-left: 15px;
  display: block !important;
}

.alert {
  margin-bottom: 0px;
}

.messages {
  text-align: center;
}

.credit-card-errors {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: red;
}

.font-bold {
  font-weight: bold;
}

.black-font {
  color: black !important;
}

.icon-bar {
  background-color: #fff;
}

.accountform {
  padding-top: 20px;
}

.service-image {
  margin-top: 25px;
  max-width: 600px;
}

.optional-services-label {
  width: 200px;
}

.OptionalService, .TypeOfService, .Damage, .Make-Model, .WrapColour, .Price, .order-nothing, .gallery-nothing {
  background-color: #fff;
  border: black solid 2px;
  border-radius: 5px;
  padding: 10px;
}
.OptionalService a, .TypeOfService a, .Damage a, .Make-Model a, .WrapColour a, .Price a, .order-nothing a, .gallery-nothing a {
  margin: 5px;
}

.order-delete-container > a {
  margin-right: 10px;
}

.form-group input[type=checkbox] {
  display: none;
}

.form-group input[type=checkbox] + .btn-group > label span {
  width: 20px;
}

.form-group input[type=checkbox] + .btn-group > label span:first-child {
  display: none;
}

.form-group input[type=checkbox] + .btn-group > label span:last-child {
  display: inline-block;
}

.form-group input[type=checkbox]:checked + .btn-group > label span:first-child {
  display: inline-block;
}

.form-group input[type=checkbox]:checked + .btn-group > label span:last-child {
  display: none;
}

.quote-radio [type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.order-panel-container, .review-panel-container {
  margin-top: 70px;
}
.order-panel-container .order-panel-body, .review-panel-container .order-panel-body {
  background-color: #f4f3e9;
  border-radius: 5px;
}

.order-total-price {
  margin-right: 15px;
}

.order-container, .gallery-container {
  margin-top: 100px;
  margin-bottom: 70px !important;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 25px;
  text-align: center;
  background-image: linear-gradient(#8ad4ff, #2da1e3 60%, #8bd2fb);
  border-radius: 10px;
}
.order-container .order-nothing, .order-container .gallery-container, .gallery-container .order-nothing, .gallery-container .gallery-container {
  font-size: 30px;
}
.order-container a, .gallery-container a {
  color: #000;
}

.checkout-payment-table {
  background-color: rgba(0, 0, 0, 0.1);
}

#scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #54b4eb;
  transition: background-color 1s;
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}

#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #ffffff;
}

#scroll:hover {
  background-color: #000;
}

/* ---------------------------------------------------------- SlideShow in Gallery /*



/* ---------------------------------------------------------- Media Queries */
@media only screen and (max-width: 475px) {
  .carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    height: 200px;
    width: 100%;
    object-fit: fill !important;
  }

  .carousel {
    position: relative;
    height: 200px !important;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 1px 5px 2px rgba(0, 0, 0, 0.3);
  }
}
@media only screen and (max-width: 990px) {
  .review-avatar {
    border-radius: 20px;
    max-height: 130px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block !important;
  }

  .review-more-container {
    margin-top: 20px;
  }

  .carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    max-height: 280px;
    width: 100%;
    object-fit: cover;
  }

  .carousel {
    position: relative;
    height: 280px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 1px 5px 2px rgba(0, 0, 0, 0.3);
  }

  .main-container-top {
    text-align: center;
  }
}
@media only screen and (min-width: 991px) {
  .imagetiles {
    margin: 0px;
    padding-top: 80px;
  }
  .imagetiles .img-mainpage-size {
    height: 200px;
    object-fit: fill;
  }

  .servicetiles {
    padding-top: 0px;
  }

  .login-form, .reset-form {
    margin-top: 200px;
    margin-left: 20%;
    margin-right: 20%;
  }

  .register-form {
    margin-top: 145px;
    margin-left: 20%;
    margin-right: 20%;
  }

  .contact-form, .profile-form, .add-review-form {
    margin-left: 20%;
    margin-right: 20%;
  }

  .form-button, .profile-button, .contact-button {
    width: 60%;
  }

  .service-image {
    max-width: 600px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
  }

  .testimonial-image {
    width: 345px;
    max-height: 200px !important;
    border: 1px gray solid;
    border-radius: 7px;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right: auto;
    display: block !important;
  }

  .carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    max-height: 580px;
    width: 100%;
    object-fit: cover;
  }

  .carousel {
    position: relative;
    height: 580px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 1px 5px 2px rgba(0, 0, 0, 0.3);
  }

  .about-header-image {
    background: url(/img/about-header-image.png) center no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
    height: 550px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header-image {
    background: url(/img/header-image.jpg) center no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    height: 750px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/*# sourceMappingURL=custom.css.map */
