{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block content %}

{% load static %}

<div class="background-carbon-fibre">
    
    <div class="profile-header-image">
        <div class="container">
            <h1 class="profile-header-container-text"> | Profile Page | </h1>
        </div>
    </div>
    
    <!--This is the box shadow effect that shows at the bottom of the header image.-->
    <div class="header-box-shadow">
        
        <div class="container">
            <div class="profile-form">
                
                <div class="row text-center">
                  <p>Change what you need to in the form below and hit the update button, below is your current set profile pic.</p>
                </div>
        
                <div class="row">
                    <div class="col-xs-12">
                        <img src="{{ profile.image.url }}" class="img-responsive profile-image img-thumbnail" alt="Profile Image">
                    </div>
                    
                </div>
        
                <hr class="hr-break">
        
                <form method="POST" enctype="multipart/form-data">
            
                    {% csrf_token %} 
                    
                    {{ form | as_bootstrap }}
                    
                    <div class="text-center">
                        <button type="submit" class="btn btn-success profile-button">Update</button>
                    </div>
                    
                </form>
        
            </div>
        </div>
    </div>
</div>

{% endblock %}