{% extends 'base.html' %} 
{% load static from staticfiles %} 
{% load bootstrap_tags %} 
{% block content %}

<!--This page is for users to check the reviews of other customers.-->

<!--This is used to make a background pattern.-->
<div class="background-carbon-fibre">
    
    <!--This div sets the header image and text you see at the top of the page.-->
    <div class="gallery-header-image animated fadeIn">
        <div class="container">
            <h1 class="gallery-header-container-text"> | GALLERY & REVIEWS | </h1>
        </div>
    </div>
    
    <!--This is the box shadow effect that shows at the bottom of the header image.-->
    <div class="header-box-shadow">

        <div class="container gallery-main-content">

        {% if reviews %}
        
        <div class="row order-sort-container animated fadeIn">
            <div class="order-sort-by">
                <!--This form allows the user to sort/order the results-->
                <form action="{% url 'gallery' %}" method="get">
                    
                    <div class="form-group col-xs-8">
                        <select name="orderSortBy" class="form-control">
                            <option value="Newest">Sort by: Newest</option>
                            <option value="Oldest">Sort by: Oldest</option>
                            <option value="HighRated">Sort by: Highest Rated</option>
                            <option value="LowRated">Sort by: Lowest Rated</option>
                        </select>
                    </div> 
                    
                    <div class="col-xs-4">
                        <input type="submit" class="btn btn-success btn-wait btn-sort-by" value="Sort">
                    </div>
                    
                </form>
            </div>
        </div>
        
        <hr>
        
        <div class="review-container">

            {% for review in reviews %}
            <div class="panel panel-group review-panel-container animated flipInX">

                <div class="panel panel-primary">

                    <div class="panel-heading"> <b>{{ review.title }}</b></div>

                    <div class="panel-body">
                        <div class="col-xs-12 col-sm-4">
                            
                            <!--This checks for images in the current review and if it has more than 1 picture it then stops the loop function so it only shows one for now.-->
                            {% for image in review.attachment.all %} 
                                {% if forloop.counter < 2 %} 
                                    <img src="{{ MEDIA_URL }}{{ image.file }}" class="img-responsive testimonial-image img-thumbnail grow" alt="Gallery Image">
                                {% endif %} 
                            {% endfor %}
                            
                        </div>
                        
                        <!--This section is for the review comment and the service ratings.-->
                        <div class="col-xs-12 col-sm-8 testimonial-text">
                            <p> <b>{{ review.user_int }}</b> rated this service a <b>{{ review.rating }} out of 5!</b></p>
                            <hr class="hr-break--full">
                            <p class="gallery-text"> {{ review.comment }}</p>
                            <a href="{% url 'review_more' review.pk %}" type="submit" class="btn btn-wait btn-success pull-right"><i class="fas fa-book" aria-hidden="true"></i> Read More! </a>
                            
                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
        
        <!--If there's no reviews in the 'gallery' it will display a message to the user viewing the page.-->
        {% else %}
        
        <div class="col-xs-12 panel-group">

            <div class="panel panel-primary text-center gallery-container">
                <div class="gallery-nothing">
                    <p> There are currently no reviews to show you at this moment in time. <br> Please pop by again later!</p>
                </div>
            </div>

        </div>

        {% endif %}

        </div>
    </div>
    
    <!--This checks to see if there's more than 1 page worth of results (set to 3) to then display the option to view the next 'page'.-->
    <div class="pagination-container">
        {% if reviews.has_other_pages %}

        <ul class="pagination">
            {% if reviews.has_previous %}
                <li><a href="?page={{ reviews.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %} 
            
            {% for i in reviews.paginator.page_range %} 
                {% if reviews.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
                    </li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            
            {% if reviews.has_next %}
                <li><a href="?page={{ reviews.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>

        {% endif %}
    </div>
</div>

{% endblock %}
