/* ---------------------------------------------------------- Variables */

$primary-text-colour: #000;
$header-text-overlay: #ffffff;
$secondary-text-colour: #666;
$white-colour: #fff;
$link-colour: #000;
$third-text-colour: #4bb7ff;
$footer-text-colour: #ffffff;
$cell-text-colour: #ffffff;
$a-link-text-colour: #ffffff;
$background-colour: #54b4eb;
$hr-colour: #4bb7ff;
$font-family: "Montserrat";
$form-colour: #f4f3e9;

/* ---------------------------------------------------------- Body */


// This makes sure the footer is always at the bottom of the page regardless of how much content is showing.
body {
    font-family: $font-family;
    font-size: 13pt;
    padding-top: 50px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

// same as above.
main {
    flex: 1 0 auto;
}

// Forces content to always be 100% height.
html {
    height: 100%;
}

// Colour for visited links.
a:link, a:visited {
    color: $footer-text-colour;
}



// Sets the transition for the navbar links.
.navbar-default .navbar-nav > li > a {
    transition: box-shadow 0.5s;
    -webkit-transition: box-shadow 0.5s;
    transition-timing-function: ease-in-out;
}

// This changes the hover and focus of the nav bar to be a little more interesting.
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    border-bottom: solid 3px $white-colour;
    margin-bottom: -3px;
}

// Assigns all buttons to have a transition box shadow.
.btn {
    transition: box-shadow 0.2s;
    -webkit-transition: box-shadow 0.2s;
    transition-timing-function: ease-in-out;
}

// Triggers the box shadow transition when button is hovered.
.btn:hover,
.btn:focus {
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
}

/* ---------------------------------------------------------- Headers */



.header-container-text, .about-header-container-text {
    color: $header-text-overlay;
    margin-top: 250px;
}

.gallery-header-container-text, .orders-header-container-text, .profile-header-container-text,
.header-container-text {
    color: $header-text-overlay;
    margin-top: 150px;
    font-weight: bold;
    font-size: 55px;
}

.header-text {
    color: $primary-text-colour;
    padding-top: 30px;
    font-weight: bold;
    font-size: 45px;
}

.header-text-alternative {
    color: $header-text-overlay;
}



.header-container-text {
    font-weight: bold;
    font-size: 46px;
}

.about-header-container-text {
    font-weight: bold;
    font-size: 55px;
    margin-top: 235px;
}

/* ---------------------------------------------------------- Main */

.gallery-main-content, .main-content {
    margin-bottom: 40px;
}

.header-box-shadow {
    box-shadow: 0px -4px 5px 1px rgba(0, 0, 0, 0.3);
}

// Pagination list display.
.pagination-container {
    text-align: center;
}

// About Us page banner making it be center, black background and margins set.
.brand-banner {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: $primary-text-colour;
    
    img {
        margin-left: auto;
        margin-right: auto;
    }
}

// Profile image on the profile page 
.profile-image {
    width: 250px !important;
    border: 1px gray solid;
    border-radius: 7px;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    display: block !important;
}

// Email image on the password reset form
.email-image {
    width: 150px !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display: block !important;
}

.green-tick-image {
    width: 150px !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    display: block !important;
}

// Testimonial images
.testimonial-image {
    width: 400px;
    border: 1px gray solid;
    border-radius: 7px;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block !important;
}

.payment-button {
    text-align: center;
}

// Form buttons structure.
.form-button {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.profile-button, .contact-button {
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
}


.services-text-header {
    color: $third-text-colour;
    padding-top: 25px;
}

.header-sub-text {
    color: $primary-text-colour;
}

.services-subtext {
    color: $secondary-text-colour;
}

.imagetiles {
    margin: 0px;
    padding-top: 80px;
    
    .img-mainpage-size {
        height: auto;
        object-fit: fill;
        width: 550px;
        margin: auto;
        padding-bottom: 10px;
    }
}

.servicetiles {
    padding-top: 0px;
    margin: 0px;
}    

.text-padding {
    padding-top: 16px;
}

.text-padding-top-bottom {
    padding-top: 16px;
    padding-bottom: 16px;
}

.hr-break {
    width: 50%;
    height: 2px;
    border: 0px;
    background-color: $hr-colour;
}

.hr-break--full {
    width: 100%;
    height: 2px;
    border: 0px;
    background-color: $hr-colour;
    
}

.hr-under-heading {
    width: 35px;
    height: 2px;
    border: 0px;
    margin-top: 0px;
    background-color: $hr-colour;
}

.login-form, .register-form, .reset-form {
    margin-top: 70px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 50px;
    text-align: center;
    background-color: #f4f3e9;
    border-radius: 10px;
    
    a {
        color: $primary-text-colour;
    }
}

.checkout-payment-form {
    margin-left: 0px;
    margin-right: 0px;
}

.profile-form, .contact-form, .checkout-payment-table, .checkout-payment-form, .add-review-form, .review-more-container  {
    margin-top: 70px;
    margin-bottom: 70px;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 50px;
    background-color: #f4f3e9;
    border-radius: 10px;
    
    a {
        color: $primary-text-colour;
    }
}

.quotes-form {
    margin-top: 50px;
    margin-bottom: 70px;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 25px;
    text-align: center;
    background-image: linear-gradient(#8ad4ff, #2da1e3 60%, #8bd2fb);
    border-radius: 10px;
    
    a {
        color: $a-link-text-colour;
    }
}
    
#id_image {
    padding: 0px;
}


/* ---------------------------------------------------------- Background Images */

// Login and registration page background image.
.login-bg {
    background: url(/img/login-bg.jpg) 
    center no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.5);
    background-size: cover;
}

// Main page top image used for the parralax effect.
.header-image { background: url(/img/add-review-header-image.jpg) 
    center no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.5);
    background-size: cover;
    height: 750px;
    overflow: hidden;
    position: relative;
}

// About Us page top image used for the parralax effect.
.about-header-image {
    background: url(/img/about-header-image.png) 
    center no-repeat;
    
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.7);
    background-size: cover;
    height: 550px;
    overflow: hidden;
    position: relative; 
}

// None Parralax background images. //

.edit-quote-header-image {
    background: url(/img/amend-quote-header-image.jpg) 
    center no-repeat;
    
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.7);
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.quotes-header-image {
    background: url(/img/quotes-header-image.jpg) 
    center no-repeat;
    
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.7);
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

// Contact us header image.
.contact-us-header-image {
    background: url(/img/contact-us-image.jpg)
    center no-repeat;
    
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.4);
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.orders-header-images {
    background: url(/img/orders-bg-image.jpg) 
    center no-repeat;
    
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.7);
    height: 350px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-header-image {
    background: url(/img/profile-header-image.jpg) 
    center no-repeat;
    
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.7);
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;      
}

.gallery-header-image {
    background: url(/img/gallery-header-background.jpg) 
    center no-repeat;
    
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.7);
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.add-review-header-image {
    background: url(/img/add-page-header-image.jpg) 
    center no-repeat;
    
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.7);
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.checkout-header-image {
    background: url(/img/payment-header-image.jpg) 
    center no-repeat;
    
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.7);
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-background-image{
    background: url(/img/profile-background-image.jpg) 
    center no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.5);
    background-size: cover;
}
// Carbon Fibre pattern effect.
.background-carbon-fibre {
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
    
    height: 100%;
}

/* ---------------------------------------------------------- Footer */


footer {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12pt;
    color: $footer-text-colour;
    background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.3);
}

ul {
    list-style: none;
}

.fas-icons {
    padding-right: 5px;
}

.footertiles-divs {
        padding-top: 15px;
}


/* ---------------------------------------------------------- Tables */

// Order page previous selected wrap table.
.previous-quote-table-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

// Used for an onclick event to change background and text colours.
.blue-cell-white-text {
   background: #4bb7ff;
   color: $cell-text-colour;
}

// Sets the image to be a static maximum size.
.quote-table-image {
    max-width: 30px;
    max-height: 30px;
    border: 2px solid white;
    padding: 1px;
    border-radius: 5px;
}

// Makes the wrap colour table scrollable and sets the margins.
.order-list-table > table {
    border-collapse: collapse;
    table-layout: auto;
    margin-top: 15px;
    
    td {
    width: 50%;
 }
} 

.checkout-table {
    font-weight: bold;
}

/* ---------------------------------------------------------- Other */

.gallery-text {
    height: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
}

.review-avatar {
    border-radius: 20px;
    display: block !important;
}


// Removes the gap at the bottom of the alert box.
.alert {
    margin-bottom: 0px;
}

.messages {
    text-align: center;
}

.credit-card-errors {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: red;
}

.font-bold {
    font-weight: bold;
}

.black-font {
    color: black !important;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

// Margins for the images that change on the quotes and orders page.
.service-image {
 margin-top: 25px;
 max-width: 600px;
}    

.optional-services-label {
    width: 200px;
}

.OptionalService, .TypeOfService, .Damage, .Make-Model, .WrapColour, .Price, .order-nothing, .gallery-nothing {
    background-color: white;
    border: black solid 2px;
    border-radius: 5px;
    padding: 10px;
    
    a {
        margin: 5px;
    }
}

// Order page delete button used for spacing.
.order-delete-container > a {
    margin-right: 10px;
}

// required for the nice looking checkboxes to hide and show the ticks.
.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}

// Hide radio button on quotes page
.quote-radio [type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.order-panel-container, .review-panel-container{
    
    margin-top: 70px;

    .order-panel-body {
        background-color: $form-colour;
        border-radius: 5px;
    }
}

.order-total-price {
    margin-right: 15px;
}

.order-container, .gallery-container {
    margin-top: 100px;
    margin-bottom: 70px;
    box-shadow: 0px 0px 8px 4px
    rgba(0, 0, 0, 0.3), 0 6px 20px 0
    rgba(0, 0, 0, 0.1);
    padding: 25px;
    text-align: center;
    background-image: linear-gradient(#8ad4ff, #2da1e3 60%, #8bd2fb);
    border-radius: 10px;
    
    .order-nothing, .gallery-container {
        font-size: 30px;
    }
    
    a {
        color: $primary-text-colour;
    }

}

.checkout-payment-table {
     background-color: rgba(0,0,0,0.1);
}

// These few styles are for the 'back to top' button that appears when the user scrolls down
#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color: $background-colour;
    transition: background-color 1s;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}

#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}

#scroll:hover {
    background-color: $primary-text-colour;
    
}

/* ---------------------------------------------------------- SlideShow in Gallery /*



/* ---------------------------------------------------------- Media Queries */

@media only screen and (max-width: 768px) {
    
    .review-avatar {
        border-radius: 20px;
        max-height: 130px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        display: block !important;
    }
    
    .review-more-container {
        margin-top: 20px;
    }
    
}


@media only screen and (min-width: 991px) {
   .imagetiles {
        margin: 0px;
        padding-top: 80px;
        
            .img-mainpage-size {
            height: 200px;
            object-fit: fill;
            }
        }
    
    .servicetiles {
        padding-top: 0px;
    }
    
    .login-form, .reset-form {
        margin-top: 200px;
        margin-left: 20%;
        margin-right: 20%;
    }
    
    .register-form {
        margin-top: 145px;
        margin-left: 20%;
        margin-right: 20%;
    }
    
    .contact-form, .profile-form, .add-review-form {
        margin-left: 20%;
        margin-right: 20%;
    }
    
    .form-button, .profile-button, .contact-button {
        width: 60%;
    }
    
    .service-image {
        max-width: 600px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
    }
    
    // Testimonial images
    .testimonial-image {
        width: 345px;
        max-height: 200px !important ;
        border: 1px gray solid;
        border-radius: 7px;
        box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
        margin-left: auto;
        margin-right: auto;
        display: block !important;
        
}

.carousel {
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.review-carousel-image {
    margin-left: auto;
    margin-right: auto;
}

//----------------------------------------------------------- Background Images

// About Us page top image used for the parralax effect.
.about-header-image {
    background: url(/img/about-header-image.png) 
    center no-repeat;
    
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.7);
    height: 550px;

// Create the parallax scrolling effect.
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

// Main page top image used for the parralax effect.
.header-image { background: url(https://images.unsplash.com/photo-1504215680853-026ed2a45def?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80) 
    center no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.5);
    height: 750px;

// Create the parallax scrolling effect.
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

}

